<div id="<%= dom_id ventum %>">
  <p>
    <strong>Date:</strong>
    <%= ventum.date %>
  </p>

  <p>
    <strong>Article:</strong>
    <%= ventum.article_id %>
  </p>

  <p>
    <strong>Sale price:</strong>
    <%= ventum.sale_price %>
  </p>

</div>
