<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home#index</h1>
            <p>Hardcoded chart using <code>Chart.js</code></p>

            <div class="mx-auto pt-3" style="width: 800px;">
                <canvas 
                    id="acquisitions" 
                    data-controller="chart" 
                    data-chart-total-value="<%= [1500, 2000, 1800, 1600, 1750, 2100, 2020] %>"
                    data-chart-date-value="<%= ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio'] %>">
                </canvas>
            </div>
        
        </div>
    </div>
</div>