<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home#index</h1>
            <p>Hardcoded chart using <code>Chart.js</code></p>

            <div class="mx-auto pt-3" style="width: 800px;">
                <canvas 
                    id="sales"
                    data-controller="chart"
                    data-chart-sales-value="<%= @ventas.to_json %>"
                >
                </canvas>
            </div>
        
        </div>
    </div>
</div>